image: node:16

pipelines:
  default:
    - step:
        name: Build
        script:
          - npm install
    - step:
        name: Publish
        deployment: production
        script:
          - npm version minor -m "Upgrade to %s [skip ci]"
          - git push && git push --tags
          - pipe: atlassian/npm-publish:0.3.3
            variables:
              NPM_TOKEN: $NPM_TOKEN